@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

body {
    min-height: 100vh;
}

.intro-content {
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-content p {
    margin-top: 105px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    animation: my-animation 24s linear infinite;
}

@keyframes my-animation {
    0% {
        transform: translateX(130%);
    }

    100% {
        transform: translateX(-130%);
    }
}

section {
    min-width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* NavBar Section */
nav {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: white;
    padding: 30px 50px;
    transition: all 0.4 easeout;
    filter: drop-shadow(5px 5px 10px transparent);
}

nav.sticky {
    background-color: white;
    filter: drop-shadow(2px 2px 5px greenyellow);
}

.brand {
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    color: black;
}

.brand h1 {
    font-size: 32px;
    font-weight: 900;
    color: black;
}

.accent {
    color: greenyellow;
}

.brand:hover {
    opacity: 0.8;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.menu a {
    text-decoration: none;
    color: black;
    text-decoration: noen;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    transition: all 0.2 ease-out;
}

.menu a:hover {
    color: greenyellow;
}

.btn {
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.btn-2 {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 24px;
    font-weight: 500;
    color: black;
    transition: all ease-in-out 0.2s;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn-2 a{
    text-decoration: none;
}
.btn-2 i {
    font-size: 32px;
    transition: all 0.2s ease-out;
}

.btn-2:hover {
    color: greenyellow;
}

.btn-2:hover {
    gap: 10px;
}


/* Hero Section */
.heropage {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/Picsart_25-11-29_04-10-39-061.png);
}

.hero-headlines {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    text-align: center;
}

.hero-headlines h1 {
    color: greenyellow;
    font-size: 64px;
    font-weight: 900;
}

.hero-headlines p {
    font-size: 24px;
    font-weight: 600;
}

.hero-headlines-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
}

.btn-3 {
    width: 205px;
    height: 53px;
    background-color: black;
    font-size: 24px;
    border-radius: 12px;
    border: 1px solid white;
    transition: all 0.2 ease-out;
}
.btn-3 a{
    text-decoration: none;
    color: white;
}

.btn-3:hover {
    background-color: greenyellow;
    color: black;
    border: 2px solid greenyellow;
}

.btn-transparent {
    background-color: white;
    color: black;
}
.btn-transparent a{
    text-decoration: none;
    color: black;

}

.btn-transparent:hover {
    background-color: greenyellow;
    border: 1px solid greenyellow;
    color: black;
}

.hero-images {
    display: flex;
    margin-top: 50px;
    gap: 35px;
}

.hero-images .image1 {
    margin-top: 8px;
    width: 330px;
    height: 350px;
    border-radius: 30%;
}

.hero-images .image2 {
    width: 320px;
    height: 370px;
    border-radius: 10%;
}

.hero-images .image3 {
    margin-top: 9px;
    width: 330px;
    height: 355px;
    border-radius: 40%;
}

/* Requiremnt Section */
.requirements {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url("img/requirements-background-img.png");
}

.requirements-headlines {
    width: 658px;
}

.requirements-headlines h1 {
    font-size: 96px;
    font-weight: 900;
}

.requirements-headlines p {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 49px;
}

.r-item-container {
    display: flex;
    gap: 18px;
    flex-direction: column;

}

.r-item {
    display: flex;
    gap: 18px;
    align-items: center;
}

.r-logo {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.r-logo i {
    font-size: 28px;
}

.r-item h5 {
    font-size: 32px;
    font-weight: 600;
}

/* Pets Section */
.pets {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 74px;
}

.pets-headlines {
    display: flex;
    gap: 24px;
    align-items: center;
}

.pets-headlines i {
    font-size: 56px;
    color: greenyellow;
}

.pets-headlines h1 {
    font-size: 64px;
    font-weight: 800;
}

.pets-collection {
    display: flex;
    gap: 28px;
    margin-top: 74px;
}

.pet-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    transition: 0.5s ease-out;
}

.pet-item .pet1 {
    width: 420px;
    height: 430px;
    border-radius: 20px;
}

.pet-item .pet2 {
    width: 420px;
    height: 430px;
    border-radius: 20px;
}

.pet-item .pet3 {
    width: 400px;
    height: 430px;
    border-radius: 20px;
}

.pet-item h3 {
    font-size: 40px;
    font-weight: 800;
}

.btn-pets {
    width: 269px;
    height: 60;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 0px;
    margin-top: 37px;
    margin-left: 12px;
    background-color: black;
    font-size: 24px;
    color: white;
    border-radius: 12px;
    border: 1px solid white;
}
/* Footer Section */
footer {
    margin-top: 100px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    overflow: hidden;
}

.footer-container{
    display: flex;
}

.footer-links{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    justify-content: center;
    padding: 32px 50px;
}

.footer-links h2{
    font-size: 24px;
    font-weight: 800;
}

.link-container{
    display: flex;
    gap: 67px;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 14px;
}

.links a{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.links a:hover{
    color: greenyellow;
}

.footer-brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: none;
    padding: 32px 120px;
}

.footer-brand h1{
    font-size: 48px;
    font-weight: 800;
}  

.footer-brand p{
    margin-top: 24px;
}

.socials{
    display: flex;
    gap: 24px;
    margin-top: 14px;
}

.socials a{
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    padding: 8px 12px;
    background-color: black;
    transition: all 0.3s ease-out;
}

.socials a:hover{
    background-color: greenyellow;
    color: black;
    border: 1px solid greenyellow;
}

.footer-contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 32px 50px;
}

.contact-info-item{
    display: flex;
    align-items: center;
    gap: 13px;
}

.contact-info-item i{
    font-size: 18px;
}

.about-headlines button{
    margin-top: 48px;
}

.brand:hover i:hover{
    color: greenyellow;
}

.contact-info-item p{
    font-size: 18px; 
}

.contact-info-item p:hover{
    color: greenyellow;
}

.copyright{
    margin-top: 20px;
}

/* Available pets Page  */
table {
    width: 90%;
    height: 50%;
    margin: auto;
    padding: auto;
    margin-top: 120px;
    border-collapse: collapse;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

th {
    background-color: greenyellow;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

th,
td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th a,
td a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

th a:hover,
td a:hover {
    color: greenyellow;
}

.pets-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0px 40px;
}

.pet-card {
    width: 300px;
    height: 27rem;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.pet-card .pet-1 {
    width: 300px;
    height: 220px;
    object-fit: cover;
}

.pet-card .pet-2 {
    width: 300px;
    height: 220px;
    object-fit: cover;
}

.pet-card .pet-3 {
    width: 300px;
    height: 220px;
    object-fit: cover;
}

.pet-card .pet-4 {
    width: 300px;
    height: 220px;
    object-fit: cover;
}

.pet-card h3 {
    font-size: 28px;
    font-weight: 700;
    margin: 15px 0px 5px 0px;
    text-align: center;
}

.pet-card p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.pet-card a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.adopted-link {
    cursor: url(img/cursor.jfif), not-allowed; 
    pointer-events: none; 
}

.btn-4.adopted-pet {
    cursor: not-allowed;  
}

.btn-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 45px;
    margin: 15px auto;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
}

.btn-4:hover {
    background-color: greenyellow;
    color: black;
    border: 2px solid greenyellow;
}
/* Application form Page */
#formpg{
    width: 33%;
    height: 70vh;
    border: 1px solid black;
    margin: 22vh auto;
    padding: 12px 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#formpg h1{
    color: black;
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: 900;
  }
#formpg form{
    width: min(400px, 100%);
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#formpg form .mainform{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#formpg form .pet-selection {
    display: flex;
    margin-top: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px; 
    align-items: center;
    padding-bottom: 5px;
}
#formpg form .pet-selection label {
    white-space: nowrap;
}
#formpg form .pet-selection input{
    margin-top: -0.5px;
    margin-bottom: 0.5px;
    height: 20px;
}
#formpg form input{
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin-top : 10px;
    font: inherit;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
}

#formpg form input::placeholder{
    color: #1a1a1a;
  }
#formpg form button{
    margin-top: 15px;
    margin-bottom: -22px;
    border: none;
    border-radius: 1000px;
    padding: 16px 50px;
    background-color: black;
    color: white;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}
/* SUPPORT PAGE  */
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 80px 0px 80px;
    padding: 0px 50px;
    gap: 40px;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span{
    font-size: 24px;
}
#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 28px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    padding-right: 22px;
    font-size: 18px;
}
#contact-details .details li p{
    font-size: 18px;
    margin: 0;
}
#contact-details .map{
    margin: 0 150px;
    width: 49%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
/* About Section  */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
    padding: 0px 50px;
    gap: 40px;
}

.about-headlines {
    display: flex;
    flex-direction: column;
    width: 885px;
}

.about-headlines h1 {
    font-size: 64px;
    font-weight: 900;
}

.about-headlines p {
    font-size: 32px;
    font-weight: 400;
}

.about-info {
    display: flex;
    justify-content: center;
    gap: 76px;
    margin-top: 40px;
}

.about-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-info-item h5 {
    font-size: 36px;
    font-weight: 800;
}

.about-info-item h6 {
    font-size: 24px;
    font-weight: 700;
}

.about .btn-pets a{
    text-decoration: none;
    color: white;
}